### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free PostgreSQL database: https://vercel.com/postgres
# If you're deploying this template with a Vercel Deploy Button, these will be configured automatically for you.
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=443946806866-q71286u6klc9m9geb3g7ttdd50prfck6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET="42713a0bfec9ea10f71154bc046e0e66"

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000